.edited input,
.edited textarea,
.edited select {
  background-color: var(--most_dark);
  outline: none;
  border: none;
  border-bottom: 1px solid var(--border_color);
  color: var(--most__ligth);
  margin: 0.6rem 0;
  padding-left: 1rem;
}

.edited input::placeholder,
.edited textarea::placeholder,
.edited select::placeholder,
.edited select {
  color: var(--most__ligth);
}

.btns {
  cursor: pointer;
  background-color: transparent;
  color: var(--middle_ligth);
  transition: 0.3s all ease;
  border: none;
  outline: none;
}

.btns:not(:disabled):hover {
  color: var(--hover_color);
  transform: scale(0.98);
}

.btns:disabled {
  opacity: 0.8;
  transition: none;
}
